*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card2{
    display: flex;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px;
}

.card2 .list{
    list-style-type: none;
    padding: 10px;
}